@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* background: #f91c5e !important; */
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Rubik', 'Segoe UI';
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: 'Rubik', 'Segoe UI';
}

body,
html,
.app,
#root,
.layout {
  display:flex;
  justify-content: center;
}

.navbar-light {
  background-color: #f91c5e;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  transition: all 300ms;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand:hover {
  color: #ffffff;
  font-weight: bold;
  transform: scale(1.1);
}

.layout {
  flex-direction: column;
}

.wrapper {
  width: 450px;
  margin: 10px auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 25px 55px;
  border-radius: 15px;
  transition: all .3s;
}

/* this is temporary */
.search {
  margin-bottom: 15rem;
}

.layout .form-control:focus {
  border-color: #f91c39;
  box-shadow: none;
}

.layout h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 14px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #d41f37;
}

.poke-info {
  color: #f91c5e;
}

.poke-link {
  color: #f91c5e;
}

.poke-link:focus,
.poke-link:hover {
  color: #d41f37;
}